<br />

<h1>Current maps</h1>

<br />

<table class="table table-striped table-bordered">
  <tr>
    <td class="mt">ID</td>
    <td class="mt">Title</td>
    <td class="mt">Maker</td>
    <td class="mt">Date</td>
    <td class="mt">Source</td>
    <td class="mt">Size</td>
    <td class="mt">Notes</td>
    <td class="mt">Price</td>
  </tr>
  <% @maps.each do |map| %>
    <tr>
        <td><a href=/map/<%= map["id"] %>><%= map["id"] %></a></td>
        <td><%= map["title"] %></td>
        <td><%= map["maker"] %></td>
        <td><%= map["date"] %></td>
        <td><%= map["source"] %></td>
        <td><%= map["size"] %></td>
        <td><%= map["notes"] %></td>
        <td><%= map["price"] %></td>
      </tr>
  <% end %>
</table>

<p><a href="/add">Add a map</a></p>
<p><a href="/download">Download your collection in a CSV file.</a></p>

