<br />

<h1>Welcome to <%= @app_name %></h1>

<br />
<br />
<br />

<div id="box">

<ul id="maps">

<table>
  <tr>
    <td class="mt">ID</td>
    <td class="mt">Title</td>
    <td class="mt">Maker</td>
    <td class="mt">Date</td>
    <td class="mt">Source</td>
    <td class="mt">Price</td>
  </tr>
  <tr class>
    <td><%= @map["id"] %></td>
    <td><%= @map["title"] %></td>
    <td><%= @map["maker"] %></td>
    <td><%= @map["date"] %></td>
    <td><%= @map["source"] %></td>
    <td><%= @map["price"] %></td>
  </tr>
</table>

  </blockquote>
  </p>
</ul>

  <div class="spacer">
  &nbsp;
  </div>

</div>
